* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}


li {
    list-style: none;
}

.pet {
    margin: 0 auto;
    width: 1200px;
    height: 80vh;
    /* height: 500px; */
    /* background-color: rgba(135, 206, 235, 0.7);  */
    background-color: rgb(179,215,239,0.7);     
}

.pit {
    background: no-repeat url(../../assets/gird.jpg);
    background-size: 100% 100%;
    background-position: 0 80px;
}
::-webkit-scrollbar {
    width: 17px;
    height: 17px;
  }
   
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
  }
   
  ::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4) inset;
  }
   
  ::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: border-box;
    box-shadow: 0 0 0 5px rgba(0,0,139,0.4) inset;
  }
   
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  .active { 
    /* background: rgba(0,0,0,0.2); */
    background-color: pink;
    border-radius: 8px;
  }
