* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}


li {
    list-style: none;
}

.pet {
    width: 100vw;
    height: 82vh;
}
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
   
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 3px solid transparent;
  }
   
  ::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3) inset;
  }
   
  ::-webkit-scrollbar-thumb {
    min-height: 10px;
    background-clip: border-box;
    box-shadow: 0 0 0 5px rgba(0,0,139,0.4) inset;
  }
   
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  /* First子路由 */
  .active { 
    background-color: rgba(128,128,128,0.4);
    font-weight: 700 !important;
    font-size: 24px;
  }
/* Nav自路由 */
.nav-active {
  border-bottom: 2px solid blue;
  font-weight: 700 !important;
  font-size: 24px;
}